<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title> Suhu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Suhu</div>
        <hr> 
        <p> Suhu Dalam Celcius                 : <b th:text="${suhucelcius}"></b> 
        <p> Suhu Dalam Fahrenheit              : <b th:text="${fahrenheit}"></b> 
        <p> Suhu Dalam Kelvin                  : <b th:text="${kelvin}"></b> 
        <hr>
    </body> 
</html>